# ========================
# Virtual Environment
# ========================
ethiopian-medical-data-warehouse

# ========================
# .env file
# ========================
.env

# ========================
# data
# ========================
data

# ========================
# Cache Files
# ========================
__pycache__